@use "abstracts/functions" as *;
@use "abstracts/mixins" as *;

.button{
    position: relative;
    display: inline-grid;
    place-items: center;
    cursor: pointer;
    z-index: 1;


    &--login{
        font: 600 em(16) / em(22, 16) 'Montserrat';
        color: var(--white, #fff);
        padding: em(13) em(32);

        &:before{
            @include pseudo;
            inset: 0;
            border-radius: em(4);
            border: 1px solid transparent;
            background: linear-gradient(#3A3E45, #242930) padding-box, linear-gradient( #6A7178, transparent) border-box; 
            filter: brightness(1);
            @include transition(300ms, filter);
            z-index: -1;
        }

        @include pointer{
            &::before{
                filter: brightness(1.4);
            }
        }
    }

    &--signup{
        font: 600 em(16) / em(22, 16) 'Montserrat';
        color: var(--white, #fff);
        padding: em(13) em(32);

        &:before{
            @include pseudo;
            inset: 0;
            border-radius: em(4);
            border: 1px solid transparent;
            background: linear-gradient(#F80000, #C20000) padding-box, linear-gradient( #FF6C6C, transparent) border-box;
            filter: brightness(1);
            @include transition(300ms, filter);
            z-index: -1;
        }

        @include pointer{
            &::before{
                filter: brightness(0.8);
            }
        }
    }

    &--hero{
        font: 600 em(26) / em(32, 26) 'Montserrat';
        color: var(--white, #fff);
        padding: em(20, 26) em(64, 26);

        &:before{
            @include pseudo;
            inset: 0;
            border-radius: em(4, 26);
            border: 1px solid transparent;
            background: linear-gradient(#F80000, #C20000) padding-box, linear-gradient( #FF6C6C, transparent) border-box;
            filter: brightness(1);
            @include transition(300ms, filter);
            z-index: -1;
        }

        @include pointer{
            &::before{
                filter: brightness(0.8);
            }
        }
    }

    &--commissions{
        font: 600 em(20) / em(22, 20) 'Montserrat';
        color: var(--black, #000);
        padding: em(25, 20) em(26, 20);
        @include transition(300ms, color);
        &:before{
            @include pseudo;
            inset: 0;
            border-radius: em(12, 20);
            border: 1px solid #6A7178;
            background-color: var(--white, #fff);
            filter: brightness(1);
            @include transition(300ms, background-color, border);
            z-index: -1;
        }

        @include pointer{
            color: var(--white, #fff);
            &::before{
                background-color: var(--accent, #F10000);
                border: 1px solid var(--accent, #F10000);
            }
        }
    }

    &--submit{
        font: 600 em(20) / em(32, 20) 'Montserrat';
        color: var(--white, #fff);
        padding: em(20, 20) em(64, 20);

        &:before{
            @include pseudo;
            inset: 0;
            border-radius: em(4, 20);
            border: em(1, 20) solid transparent;
            background: linear-gradient(#F80000, #C20000) padding-box, linear-gradient( #FF6C6C, transparent) border-box;
            filter: brightness(1);
            @include transition(300ms, filter);
            z-index: -1;
        }

        @include pointer{
            &::before{
                filter: brightness(0.8);
            }
        }
    }

    &--events{
        font: 600 em(26) / em(32, 26) 'Montserrat';
        color: var(--white, #fff);
        padding: em(20, 26) em(52, 26);

        &:before{
            @include pseudo;
            inset: 0;
            border-radius: em(4, 26);
            border: em(1, 26) solid transparent;
            background: linear-gradient(#F80000, #C20000) padding-box, linear-gradient( #FF6C6C, transparent) border-box;
            filter: brightness(1);
            @include transition(300ms, filter);
            z-index: -1;
        }

        @include pointer{
            &::before{
                filter: brightness(0.8);
            }
        }
    }

    @media (max-width: 1280px) {
        &--login{
            font: 600 em(14) / em(22, 14) 'Montserrat';
            color: var(--white, #fff);
            padding: em(9, 14) em(13.5, 14);

            &:before{
                @include pseudo;
                inset: 0;
                border-radius: em(4, 14);
                border: em(1, 14) solid transparent;
                background: linear-gradient(#3A3E45, #242930) padding-box, linear-gradient( #6A7178, transparent) border-box; 
                filter: brightness(1);
                @include transition(300ms, filter);
                z-index: -1;
            }

            @include pointer{
                &::before{
                    filter: brightness(1.4);
                }
            }
        }

        &--signup{
            font: 600 em(14) / em(22, 14) 'Montserrat';
            color: var(--white, #fff);
            padding: em(9, 14) em(13.5, 14);

            &:before{
                @include pseudo;
                inset: 0;
                border-radius: em(4, 14);
                border: em(1, 14) solid transparent;
                background: linear-gradient(#F80000, #C20000) padding-box, linear-gradient( #FF6C6C, transparent) border-box;
                filter: brightness(1);
                @include transition(300ms, filter);
                z-index: -1;
            }

            @include pointer{
                &::before{
                    filter: brightness(0.8);
                }
            }
        }


        &--hero{
            font: 600 em(18) / em(22, 18) 'Montserrat';
            color: var(--white, #fff);
            padding: em(14, 18) em(46, 18);

            &:before{
                border-radius: em(4, 18);
            }
        }

         &--commissions{
            font: 600 em(18) / em(22, 18) 'Montserrat';
            padding: em(14, 18) em(14, 18);
            @include transition(300ms, color);
            min-width: em(260, 18);
            &:before{
                @include pseudo;
                border-radius: em(8, 18);
            }

            @include pointer{
                color: var(--white, #fff);
                &::before{
                    background-color: var(--accent, #F10000);
                    border: 1px solid var(--accent, #F10000);
                }
            }
        }

        &--submit{
            font: 600 em(18) / em(32, 18) 'Montserrat';
            color: var(--white, #fff);
            padding: em(20, 18);
            width: 100%;

            &:before{
                @include pseudo;
                inset: 0;
                border-radius: em(4, 18);
                border: em(1, 18) solid transparent;
                background: linear-gradient(#F80000, #C20000) padding-box, linear-gradient( #FF6C6C, transparent) border-box;
                filter: brightness(1);
                @include transition(300ms, filter);
                z-index: -1;
            }

            @include pointer{
                &::before{
                    filter: brightness(0.8);
                }
            }
        }

        &--events{
            font: 600 em(18) / em(32, 18) 'Montserrat';
            color: var(--white, #fff);
            padding: em(16, 18);
            min-width: em(260, 18);

            &:before{
                @include pseudo;
                inset: 0;
                border-radius: em(4, 18);
                border: em(1, 18) solid transparent;
                background: linear-gradient(#F80000, #C20000) padding-box, linear-gradient( #FF6C6C, transparent) border-box;
                filter: brightness(1);
                @include transition(300ms, filter);
                z-index: -1;
            }

            @include pointer{
                &::before{
                    filter: brightness(0.8);
                }
            }
        }

        .burger__button &--login{
            font: 600 em(18) / em(22, 18) 'Montserrat';
            color: var(--white, #fff);
            padding: em(16, 18);
            // width: 100%;
            min-width: em(330, 18);

            &:before{
                @include pseudo;
                inset: 0;
                border-radius: em(4, 18);
                border: em(1, 18) solid transparent;
                background: linear-gradient(#3A3E45, #242930) padding-box, linear-gradient( #6A7178, transparent) border-box; 
                filter: brightness(1);
                @include transition(300ms, filter);
                z-index: -1;
            }

            @include pointer{
                &::before{
                    filter: brightness(1.4);
                }
            }
        }

        .burger__button &--signup{
            font: 600 em(18) / em(22, 18) 'Montserrat';
            color: var(--white, #fff);
            padding: em(16, 18);
            // width: 100%;
            min-width: em(330, 18);

            &:before{
                @include pseudo;
                inset: 0;
                border-radius: em(4, 14);
                border: em(1, 14) solid transparent;
                background: linear-gradient(#F80000, #C20000) padding-box, linear-gradient( #FF6C6C, transparent) border-box;
                filter: brightness(1);
                @include transition(300ms, filter);
                z-index: -1;
            }

            @include pointer{
                &::before{
                    filter: brightness(0.8);
                }
            }
        }
    }

    @media (max-width: 500px) {
        .burger__button &--login{
            width: 100%;
        }

        .burger__button &--signup{
            width: 100%;
        }
    }
}