@use "abstracts/functions" as *;
@use "abstracts/mixins" as *;

.hero{
    padding: em(175) 0 em(390);
    position: relative;
    &__pers {
        position: absolute;
        top: em(100);
        left: 50%;
        width: em(788);
        pointer-events: none;
    }

    &__title{
        text-transform: uppercase;
        font: italic 700 em(82) / 100% 'Druk Wide Cyr';
        color: var(--white, #fff);

        overflow: hidden;
        & > *{
            transform: translateY(100%);
        }

        span{
            color: var(--accent, #F10000);
        }

        
    }

    &__description{
        margin: em(30, 24) 0 0;
        font: 400 em(24) / em(32, 24) 'Inter';
        color: var(--white, #fff);

        overflow: hidden;
        & > *{
            transform: translateY(100%);
        }
    }

    &__button{
        margin: em(56) 0 0;
        overflow: hidden;
        & > *{
            transform: translateY(100%);
        }
    }

    &__socials{
        margin: em(100) 0 0;
        transform: translateX(-100%);
    }

    &__socials_title{
        font: 400 em(20) / em(32, 20) 'Inter';
        color: var(--white, #fff);
    }

    &__socials_list{
        margin: em(18) 0 0;
        display: flex;
        gap: em(32);
    }

    &__socials_item{
        width: em(24);
        height: em(24);
        svg{
            width: 100%;
            height: 100%;
            path{
                @include transition(300ms, fill);
            }
        }
        @include pointer{
            svg path{
                fill: var(--white);
            }
        }
    }

    @media (max-width: 1280px) {
       padding: em(100) 0 em(560);

        &__pers {
            position: absolute;
            top: auto;
            bottom: em(-46);
            left: 50%;
            margin-left: em(-160);
            width: em(360);
            pointer-events: none;
        }

        &__title{
            text-align: center;
            font: italic 700 em(29) / 100% 'Druk Wide Cyr';
            color: var(--white, #fff);
            overflow: unset;
            & > *{
                transform: translateY(0);
            }

            span{
                color: var(--accent, #F10000);
            }

            
        }

        &__description{
            margin: em(21, 17) 0 0;
            text-align: center;
            font: 400 em(17) / 130% 'Inter';
            color: var(--white, #fff);
            overflow: unset;
            & > *{
                transform: translateY(0);
            }
        }

        &__button{
            margin: em(34) 0 0;
            text-align: center;
            overflow: unset;
            & > *{
                transform: translateY(0);
            }
        }

        &__socials{
            display: none;
        }
    }
}