@use "abstracts/functions" as *;
@use "abstracts/mixins" as *;

.contacts{
    position: relative;
    padding: em(30) 0 0;
    &__pers{
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: em(-96);
        width: em(909);
    }

    &__wrap{
        padding: em(84) 0;
        margin: em(90) 0 0;
        background: url(../img/contacts/wrap_bg.svg) right bottom / auto no-repeat, linear-gradient(150deg,  #17191B 70%, #414853);
    }

    &__title{
        text-transform: uppercase;
        font: 700 em(26) / 130% 'Montserrat';
        color: var(--white, #fff);
    }

    &__description{
        margin: em(8, 22) 0 0;
        font: 500 em(22) / 130% 'Montserrat';
        color: var(--white, #fff);
    }

    &__form{
        margin: em(24) 0 0;
    }

    &__contact{
        margin: em(64) 0 0;
        display: flex;
        align-items: center;
        gap: em(54);
    }

    &__contact_text{
        font: 400 em(16) / em(32, 16) 'Inter';
        color: var(--white, #fff);
    }

    &__contact_list{
        display: flex;
        gap: em(44);
    }

    &__contact_item{
        width: em(28);
        height: em(28);
        svg{
            width: 100%;
            height: 100%;
            path{
                @include transition(300ms, fill);
            }
        }
        @include pointer{
            svg path{
                fill: var(--white);
            }
        }
    }

    @media (max-width: 1280px) {
        position: relative;
        padding: em(24) 0 0;

        &__pers{
            position: absolute;
            bottom: auto;
            top: em(84);
            left: em(20);
            margin-left: 0;
            width: em(388);
            z-index: 1;
        }

        &__wrap{
            position: relative;
            padding: em(20) 0;
            margin: em(280) 0 0;
            background:  linear-gradient(150deg,  #17191B 70%, #2B3036);
            z-index: 2;
        }

        &__title{
            font: 700 em(22) / 130% 'Montserrat';
        }

        &__description{
            margin: em(8, 14) 0 0;
            font: 500 em(14) / 130% 'Montserrat';
            color: var(--white, #fff);
        }

        &__contact{
            margin: em(24) 0 0;
        }
    }
}