head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=contain')
	title=title
	link(rel="icon" type="image/svg+xml" href="./public/img/favicon.svg")
	link(rel='stylesheet' href='./public/css/splide.min.css')
	link(rel='stylesheet' href='./public/css/style.min.css')
	script(src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js")
	script(src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js")
	<!-- ScrollSmoother requires ScrollTrigger -->
	script(src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollSmoother.min.js")
	script(src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollToPlugin.min.js")
